
        <div class="post-form">
        <form method="post" action="/recipe/createrecipe">
             <div class="formfield">
             <label>Title: </label> 
             <textarea name="titleText" class="framed" ></textarea>
             </div>
            <div class="formfield">
             <label>Directions: </label>
             <textarea name="directionsText" class="framed" ></textarea>
              </div>
             <div class="formfield">
             <label>Estimated Time: </label>
              <textarea name="timeText" class="framed" ></textarea>
             </div>
            <button type="submit" class="action-button">Submit</button>
        </form>
        <div class="clear"></div>
        </div>
 