
        <div class="recipe_form">
        <form method="post" action="/recipe/createrecipe">
            <div class="label_space">
             <label>Title</label> 
             <div>
             <textarea name="titleText"></textarea>
             </div>
             </div>
             <div class="label_space">
             <label>Directions</label>
             <div>
             <textarea class="directions_size" name="directionsText"></textarea>
             </div>
             </div>
             <div class="label_space">
             <label>Image</label>  
             <div>
             <input
            type="file"
            for="file-upload"
            name="rec_img"
            accept="application/pdf, image/png, image/jpeg"
             />
             </div>
             </div>
             <div>
             <label>Estimated Time</label>
             <div>
              <textarea name="timeText"></textarea>
             </div>
            </div>
            <div class="rec_button">
            <button type="submit">Submit</button>
            </div>
        </form>
        <div class="clear"></div>
        </div>
 