<div class="container content-center framed">
  <h1 style="margin-top: 8pt;">Profile</h1>
  <div class="center-align" style="padding: 16pt;">
    <img src="/images/Lense_Flare.jpg" alt="Profile Picture" style="border-radius: 50%; width: 72pt; height: 72pt; border: 1pt solid var(--normal-text-color);">
    <h2 class="username" style="margin-top: 8pt;">Bobby</h2>
  </div>
</div>

<!--
Eventually, values like prof pic and username will not be hard-coded.
Instead they will be {"{image_path}} & {"{username}} gotten from
a profile component and SQL query like 'like count' in project 2
-->






