  <head> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
  <img src="/images/Lense_Flare.jpg" class="image-expand" alt="Recipe Image">
 <div class="rating">
      <input type="radio" name="rating" id="star-1" class="rating-radio" value="1">
      <label for="star-1"><i class="fa-solid fa-star"></i></label> 
      <input type="radio" name="rating" id="star-2" class="rating-radio" value="2">
      <label for="star-2"><i class="fa-solid fa-star"></i></label> 

      <input type="radio" name="rating" id="star-3" class="rating-radio" value="3">
      <label for="star-3"><i class="fa-solid fa-star"></i></label> 

      <input type="radio" name="rating" id="star-4" class="rating-radio" value="4">
      <label for="star-4"><i class="fa-solid fa-star"></i></label> 

      <input type="radio" name="rating" id="star-5" class="rating-radio" value="5">
      <label for="star-5"><i class="fa-solid fa-star"></i></label> 
      :User rating
</div>

<h1 class="rate-h4">Directions: </h1>
<div class="rate-dir">
<h4>{{directions}}</h4>
</div>
