<div class="card-container">
  <div class="card">
    <div class="image-wrapper">
      <img src="/images/Lense_Flare.jpg" class="image" alt="Recipe Image">
    </div>
    <div class="card-footer">
      <h4>{{title}}</h4>
      <h4>Rating:⭐️⭐️⭐️⭐️⭐️</h4>
      <h4>Estimated Time: {{estim_time}} min</h4>
    </div>
  </div>
</div>
