<div class="post framed"> 
<div class="post-content">
<div>
<img src="/images/Lense_Flare.jpg" alt="Recipe Picture">
</div>
<div class="mid-container">
<h3>{{title}}</h3> 
<h3>Ratings: ⭐️⭐️⭐️⭐️⭐️</h3>
<h3>Estimated Time: {{estim_time}} mins</h3>
</div>

</div>
</div>