<div class="post framed"> 
  <img src="{{profileImagePath}}" alt="Profile Image">
  <div class="post-content post-body">
    <span class="username">{{username}}</span>
    <div class="post-date">User ID: {{user_id}}</div>
  </div>
</div>