<div class="profile-card framed post soft-orange-bg">
  <div class="profile-info">
    <img class="profile-image" src="{{image_path}}" alt="Profile Image">
    <div class="profile-text">
      <span class="username">{{username}}</span>
      <div class="post-date">User ID: {{user_id}}</div>
    </div>
  </div>
</div>
