<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>
    {{> fragments/top_bar}}
    <h1>Welcome to Chefs page<h1>
    <form method="POST" enctype="multipart/form-data" action="/uploadImage">
        <input
            type="file"
            name="rec_img"
            accept="application/pdf, image/png, image/jpeg"
        />
        <button type="submit">Upload</button>
    </form>
    {{> fragments/user_container}}
</body>
</html>