<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>
     
    {{> fragments/top_bar}}
    
    {{> fragments/favorite_panel}}
    

</body>

</html>

<!--
Eventually, values like prof pic and username will not be hard-coded.
Instead they will be {"{profile_picture}} & {"{username}} gotten from
a profile component and SQL query like 'like count' in project 2
-->